[submodule "EulerEngine/Vendor/spdlog"]
	path = EulerEngine/Vendor/spdlog
	url = https://gitee.com/mirror-luyi/spdlog
[submodule "EulerEngine/Vendor/ImGui"]
	path = EulerEngine/Vendor/ImGui
	url = https://gitee.com/ets_zeros/imgui
