[submodule "EulerEngine/Vendor/spdlog"]
	path = EulerEngine/Vendor/spdlog
	url = https://gitee.com/ets_zeros/spdlog
[submodule "EulerEngine/Vendor/ImGui"]
	path = EulerEngine/Vendor/ImGui
	url = https://gitee.com/ets_zeros/imgui
[submodule "EulerEngine/Vendor/Yaml-cpp"]
	path = EulerEngine/Vendor/Yaml-cpp
	url = https://gitee.com/ets_zeros/yaml-cpp
[submodule "EulerEngine/Vendor/ImGuizmo"]
	path = EulerEngine/Vendor/ImGuizmo
	url = https://gitee.com/ets_zeros/ImGuizmo
[submodule "EulerEngine/Vendor/Box2d"]
	path = EulerEngine/Vendor/Box2d
	url = https://gitee.com/ets_zeros/box2d
